<h1>Team Name: </h1> <%= @team.name %>
<h2>Team Motto: </h2> <%= @team.motto %>
<h2>Hero Name: </h2> <%= @member1.name %>
<li>Hero Power: </li> <%= @member1.power %>
<li>Hero Biography: </li> <%= @member1.bio %>
<h2>Hero Name: </h2> <%= @member2.name %>
<li>Hero Power: </li> <%= @member2.power %>
<li>Hero Biography: </li> <%= @member2.bio %>
<h2>Hero Name: </h2> <%= @member3.name %>
<li>Hero Power: </li> <%= @member3.power %>
<li>Hero Biography: </li> <%= @member3.bio %>
